<div id="<%= dom_id activity %>">
  <p>
    <strong>Nome:</strong>
    <%= activity.nome %>
  </p>

  <p>
    <strong>User:</strong>
    <%= activity.user_id %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= activity.descricao %>
  </p>

  <p>
    <strong>Data hora inicio:</strong>
    <%= activity.data_hora_inicio %>
  </p>

  <p>
    <strong>Data hora termino:</strong>
    <%= activity.data_hora_termino %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= activity.status %>
  </p>

</div>
